#top {
    background-color: black;
    height : 10%;
    
}
#title
{
    color : rgb(190, 0, 0);
    font-size: xx-large;
    background-color: black;
    padding: 1%;
}
#menu{
    color : white;
    float : right;
}
body {
    width : 70%;    
    margin : auto;
}
hr{
    color : gray;
}
#menu{
    float : right;
    background: black;
    color : white;
}
.jokeCard{
    border-radius: 25px;
    border: 1px solid;     
    height: 80%;
    background: linear-gradient(to bottom, lightgrey 0%, lightgrey 25%, white 20%)
}
.padded{
    padding:10px;
}
.fancyButton{
    
background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  100%);

color : white;
    
}
#apiButton{
    background-color: lightgray;
    color : black;
    border : 1px;
    border-radius: 1px;
   
}
#dropDown{
    border-radius: 25px;
    border: 1px solid;     
    padding : 10px;
    position : absolute;
}
.menuOff     
{    
    display: none;    
}    
    
.menuOn    
{    
    display: block;    
}  